body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 1198px;
}
.navbar {
    padding: 0;
    border: 1px solid rgba(0,0,0,.5);
}
.nav-item {
    border-right: 1px solid;
}

.title {
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.form_add_project {
    margin-top: 30px;
}

span{
    color: red;
    margin-left: 5px;
}

.select_list {
    width: 347px;
    height: 35px;
}
.btn_input {
    width: 44px;
    height: 35px;
}
input, select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D4D4D4;
    opacity: 1;
}

input:valid + label{
    display: none;
}

input:focus + label{
    display: none;
}

#input_link {
    width: 392px;
    height: 35px;
}

.help_text {
    font-size: 14px;
    font-style: italic;
}

#select_4, #select_5 {
    margin: 32px 0;
}

#date_input {
    background: transparent url("../images/Group 36.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.input_coordinate {
    width: 175px;
    height: 35px;
}
.height_input {
    width: 105px;
    height: 35px;
}

.height_second_input {
    width: 65px;
    height: 35px;
}
.date_input {
    width: 175px;
    height: 35px;
}

